<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suzuki Moto</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://kit.fontawesome.com/544876a7ca.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="header-div">
            <img id="logo1" src="../public/images/logo-suzuki-PNG nuevo.webp" alt="">
            <ul id="ul1">
                <li>Modelos</li>
                <li>Promociones</li>
                <li>Concesionarios</li>
                <li>Accesorios</li>
            </ul>
            <form action="">
                <input type="text" placeholder="Buscar...">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <ul id="uul">
            <li><a class="uuul" href="#DEPORTIVAS">DEPORTIVAS</a></li>
            <li><a class="uuul" href="#CARRETERA">CARRETERA</a></li>
            <li><a class="uuul" href="#TRAIL SPORT TURISMO">TRAIL SPORT TURISMO</a></li>
        </ul>
    </header>
    <h1>MODELOS DE MOTO SUZUKI</h1>
    <main>
        <h2 class="titulos1" id="DEPORTIVAS">DEPORTIVAS</h2>
        <section class="section1">
            <article>
                <img id="logo2" src="../public/images/gsx-r600.webp" alt="">
                <h2 >Suzuki GSX R600 2024</h2>
                <p>11.899,00$</p>
            </article>
            <article>
                <img id="logo11" src="../public/images/hayabusa.png" alt="">
                <h2>Suzuki HAYABUSA</h2>
                <p>22.675,00$</p>
            </article>
            <article>
                <img id="logo9" src="../public/images/GSX800FRQM4_QKA_diagonal_2400x1600.png" alt="">
                <h2>Suzuki GSX-8R 2024</h2>
                <p>9.699,00$</p>
            </article>
        </section>
        <h2 class="titulos1" id="CARRETERA">CARRETERA</h2>
        <section class="section1">
            <article>
                <img id="logo4" src="../public/images/1000.jpg" alt="">
                <h2>Suzuki GSX-S1000</h2>
                <p>14.715,00$</p>
            </article>
            <article>
                <img id="logo6" src="../public/images/image-7-3.webp" alt="">
                <h2>Suzuki Gixxer SF 250</h2>
                <p>6.490,00$</p>
            </article>
            <article>
                <img id="logo7" src="../public/images/GSX800RQM3_QU2_diagonal_2400x1600.png" alt="">
                <h2>Suzuki GSX-8S</h2>
                <p>9.699,00$</p>
            </article>
        </section>
        <h2 class="titulos1" id="TRAIL SPORT TURISMO">TRAIL SPORT TURISMO</h2>
        <section class="section1">
            <article>
                <img id="logo8" src="../public/images/v-strom-650-xt-2023.png" alt="">
                <h2>Suzuki V-STROM 650XT 2024</h2>
                <p>8.904,00$</p>
            </article>
            <article>
                <img id="logo10" src="../public/images/DL1050RJM3_KGL_diagonal_2400x1600.png" alt="">
                <h2>Suzuki V-STROM 1050DE</h2>
                <p>16.999,00$</p>
            </article>
            <article>
                <img id="logo3" src="../public/images/pt2 vstrom.png" alt="">
                <h2>Suzuki V-STROM 800 2024</h2>
                <P>15.899,00$</P>
            </article>
        </section>
    </main>
    <footer>
        <img id="logo5" src="../public/images/suzuki-logo-brandlogos.net_.png" alt="logo Suzuki">
        <ul>
            <li class="footer-li"><a
                    href="https://www.zoomsales.es/vsszmes/landingszmes.aspx?ref=https://moto.suzuki.es">
                    <i id="icono1" class="fa-brands fa-whatsapp"></i></a>
            </li>
            <li class="footer-li"><a href="https://moto.suzuki.es/solicita-informacion">
                    <i id="icono2" class="fa-solid fa-info"></i></a>
            </li>
            <li class="footer-li"><a href="https://moto.suzuki.es/concesionarios">
                    <i id="icono3" class="fa-solid fa-location-dot"></i></a></li>
        </ul>
    </footer>
</body>

</html>